<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fs.human.yabab.KakaoAuth.dao.UserMapper">

    <!-- findByUserId 쿼리 수정 -->
    <select id="findByUserId" parameterType="string" resultType="fs.human.yabab.KakaoAuth.vo.KakaoAuthUserVO">
        SELECT
        USER_ID AS userId,
        USER_PASSWORD AS userPassword,
        USER_NAME AS userName,
        USER_NICKNAME AS userNickname,
        USER_EMAIL AS userEmail,
        USER_FAVORITE_TEAM AS userFavoriteTeam,
        USER_IMAGE_PATH AS userImagePath,
        USER_IMAGE_NAME AS userImageName
        FROM
        TB_USER
        WHERE
        USER_ID = #{userId}
    </select>

    <!-- insertUser 쿼리 수정 -->
    <insert id="insertUser" parameterType="fs.human.yabab.KakaoAuth.vo.KakaoAuthUserVO">
        INSERT INTO TB_USER (
        USER_ID,
        USER_PASSWORD,
        USER_NAME,
        USER_NICKNAME,
        USER_EMAIL,
        USER_ROLE,
        USER_JOINDATE,
        CREATED_DATE,
        USER_FAVORITE_TEAM,
        USER_IMAGE_PATH,
        USER_IMAGE_NAME
        ) VALUES (
        #{userId},
        #{userPassword},
        #{userName},
        #{userNickname},
        #{userEmail},
        1,
        SYSDATE,
        SYSDATE,
        #{userFavoriteTeam},
        #{userImagePath},
        #{userImageName}
        )
    </insert>
</mapper>
